<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.toozy.bbs.mapper.QuestionMapper">
    <insert id="createQuestion" parameterType="com.toozy.bbs.pojo.Question">
        insert into BBS.question (title, description, gmt_create, gmt_modified, creator, comment_count, view_count, like_count, tag)
        VALUES (#{title},#{description},#{gmtCreate},#{gmtModified},#{creator},#{commentCount},#{viewCount},#{likeCount},#{tag});
    </insert>
</mapper>